#blind {
    display: flex;
    flex: initial;
    flex-direction: column;
    background-color: var(--dark-grey);
    border-radius: 8px;
    margin-top: 48px;
}

#blind-name {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 4px;
    font-size: 42px;
    line-height: 42px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: var(--small-blind-primary);
    border-radius: 8px;
}

#blind-name.select {
    display: flex;
    font-size: 32px;
    line-height: 32px;
    width: 180px;
}

#blind-name-bkg {
    background-color: var(--small-blind-secondary);
    border-radius: 8px;
    margin: 4px;
    text-align: center;
    width: inherit;
}

#blind-info.sidebar {
    text-align: center;
    background-color: var(--small-blind-secondary);
    border-radius: 8px;
    margin: 0 4px 4px 4px;
}

#blind-info.select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    border-radius: 8px;
    margin: 2px;
}

#blind-bio.select {
    width: 190px;
    word-wrap: break-word;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

#blind-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 175px;
}

#blind-icon {
    display: flex;
    flex: initial;
    width: 92px;
    height: 92px;
    margin: 0 0 0 8px;
}

#blind-icon.select {
    width: 72px;
    height: 72px;
    margin: 24px 16px 8px;
}

#blind-status {
    display: flex;
    flex: auto;
    flex-direction: column;
    background-color: var(--dark-grey);
    margin: 0 8px;
    border-radius: 8px;
}

#blind-status.select {
    width: 190px;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

#blind-score-text {
    font-size: 20px;
    line-height: 20px;
    padding: 0 0 0 3px;
}

#req-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#stake-icon {
    width: 24px;
    height: 24px;
    margin: 0 8px;
}

#req-score {
    font-size: 48px;
    line-height: 32px;
    font-weight: bold;
    color: var(--red);
}

#reward-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4px 0 0;
    font-size: 20px;
}

#blind-reward {
    color: var(--yellow);
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    margin: 0 0 0 4px;
}

#outer {
    display: flex;
    margin-right: 32px;
    padding: 0;
    background-color: var(--small-blind-primary);
    border-radius: 8px;
    height: 800px;
}

#outer.true {
    margin-top: 16px;
}

#outer.false {
    margin-top: 64px;
}

#container {
    display: flex;
    background-color: var(--grey);
    border-radius: 8px;
    margin: 8px;
}

#outline {
    background-color: gray;
    border-radius: 8px;
    margin: 8px;
    height: fit-content;
}

#select {
    border-radius: 8px;
    margin: 8px 16px 8px;
    padding: 4px 0;
    width: 150px;
    font-size: 28px;
    line-height: 24px;
    text-align: center;
}

#select.true {
    background-color: var(--orange);
}

#select.false {
    background-color: gray;
}