.card {
    position: absolute;
    width: 142px;
    height: 190px;
    border: 1px solid var(--grey);
    border-radius: 8px;
    background-color: aliceblue;
    font-size: 32px;
    text-align: center;
    transition: .25s;
    z-index: auto;
}

.card img {
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.card:hover {
    cursor: pointer;
    scale: 1.1;
}

.card:active {
    z-index: 1;
}

.card.Spades { color: black }
.card.Hearts { color: var(--red) }
.card.Clubs { color: var(--blue) }
.card.Diamonds { color: var(--yellow) }

.card.deck-view {
    width: 85px;
    height: 114px;
}

.card.deck-view:hover {
    cursor: initial;
}

.card.deck-view img {
    width: 85px;
    height: 114px;
}

.card.deck-view.drawn {
    opacity: .3;
    z-index: auto;
}

.card.selected {
    transform: translateY(-3vh);
}

.card.submitted {
    margin: 0 8px;
    cursor: initial;
    position: relative;
}

.popup {
    position: absolute;
    top: -32px;
    width: 100%;
    color: black;
    background-color: var(--blue);
    line-height: 24px;
    border-radius: 8px;
}