.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 142px;
    height: 190px;
    border-radius: 8px;
    font-size: 32px;
    transition: .1s;
    z-index: auto;
}
.card.deck-view {
    width: 85px;
    height: 114px;
}

.card img {
    pointer-events: none;
    width: 142px;
    height: 190px;
    z-index: 1;
}
.card.deck-view img {
    width: 85px;
    height: 114px;
}

#card-bkg {
    position: absolute;
    z-index: 0;
}

.Foil img {
    filter: drop-shadow(0 0 10px blue)
}
.Holographic img {
    filter: blur(2px)
}
.Negative img {
    filter: invert(1)
}
.Polychrome img {
    filter: saturate(1000%)
}

.card img.debuff {
    position: absolute;
    background-color: rgb(56, 66, 68, 0.3);
    border-radius: 7px;
    z-index: 2;
}

#card-edition {
    position: absolute;
    opacity: .3;
    z-index: 3;
}

#seal-icon {
    position: absolute;
    z-index: 4;
}

.card:hover { scale: 1.1; }
.card.standard:hover { cursor: pointer; }

.card:active { z-index: 1; }

.card.selected { transform: translateY(-3vh); }

.card.drawn { opacity: .3; }

.card.submitted {
    margin: 0 8px;
    cursor: initial;
    position: relative;
}

.card.unscored {
    margin: 32px 8px 0;
}

#playing-card-popup {
    display: none;
    position: absolute;
    bottom: 200px;
    padding: 2px;
    color: var(--grey);
    background-color: aliceblue;
    border-radius: 8px;
    font-size: 24px;
    z-index: 3000;
}

.card:hover #playing-card-popup {
    display: initial;
}

.deck-view #playing-card-popup {
    font-size: 20px;
    bottom: 120px;
}

#playing-card-popup-inner {
    background-color: var(--grey);
    border-radius: 8px;
    padding: 4px;
}

#playing-card-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 8px;
    width: 155px;
}

.deck-view #playing-card-name {
    width: 128px;
}

#playing-card-score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
    border-radius: 8px;
    margin-top: 4px;
    padding: 16px;
}

#playing-card-score.debuffed {
    font-size: 20px;
}

.deck-view #playing-card-score.debuffed {
    font-size: 16px;
}

#playing-card-modifiers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#enhancement {
    font-size: 24px;
}

.modifier {
    margin: 2px 0 0 0;
    font-size: 20px;
    color: aliceblue;
    background-color: var(--blue);
    padding: 2px 0;
    width: 128px;
    text-align: center;
    border-radius: 8px;
}

#playing-card-scored-popup {
    position: absolute;
    top: -48px;
    background-color: var(--blue);
}