div[id^='consumable_'] {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: auto;

    --consumable-width: 126px;
    --consumable-height: 186px;
    
    width: var(--consumable-width);
    height: var(--consumable-height);
}

div[id^='consumable_'].shopping {
    position: relative;
}

div[id^='consumable_']:hover {
    cursor: pointer;
    scale: 1.1;
}

div[id^='consumable_']:active {
    z-index: 1;
}

div[id^='consumable_'].selected {
    transform: translateY(-10px);
    z-index: 2;
}


div[id^='consumable_'] img {
    width: var(--consumable-width);
    height: var(--consumable-height);
}

#consumable-price-tab {
    position: absolute;
    background-color: var(--dark-grey);
    top: -40px;
    border-radius: 8px 8px 0 0;
}

#consumable-price {
    background-color: var(--grey);
    border-radius: 8px;
    margin: 4px;
    padding: 0 16px;
    font-size: 32px;
}

#consumable-tabs {
    position: absolute;
    top: 0;
    right: -56px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: var(--consumable-height);
}

.consumable-tab {
    width: 48px;
    text-align: right;
    margin: 4px 0;
    padding: 4px;
    border-radius: 0 8px 8px 0;
}

.consumable-tab:hover {
    cursor: pointer;
    filter: brightness(.75);
}

#sell-consumable {
    background-color: var(--green);
    font-size: 24px;
}

#consumable-sell-price {
    font-size: 36px;
}

#use-consumable {
    background-color: var(--red);
    font-size: 32px;
}

#consumable-buy-button {
    position: absolute;
    background-color: var(--orange);
    top: var(--consumable-height);
    border-radius: 0 0 8px 8px;
    color: aliceblue;
    font-size: 32px;
    padding: 4px 16px 4px 18px;
}

#consumable-buy-button:hover {
    filter: brightness(.75);
    cursor: pointer;
}

#consumable-buy-and-use-button {
    position: absolute;
    background-color: var(--red);
    left: var(--consumable-width);
    top: 50%;
    transform: translateY(-50%);
    padding: 8px 4px 8px 6px;
    border-radius: 0 8px 8px 0;
}

#consumable-buy-and-use-button:hover {
    filter: brightness(.75);
    cursor: pointer;
}

#consumable-buy-and-use-buy { font-size: 32px; }
#consumable-buy-and-use-use { font-size: 18px; }

#consumable-popup {
    display: none;
    position: absolute;
    top: var(--consumable-height);
    border: 4px solid var(--light-grey);
    border-radius: 8px;
    font-size: 20px;
    color: var(--grey);
}

div[id^='consumable_'].shopping > #consumable-popup {
    /* top: calc((var(--consumable-height) - height) / 2); */
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    right: var(--consumable-width);
}

div[id^='consumable_']:hover > #consumable-popup {
    display: initial;
}

#consumable-popup-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey);
    border-radius: 4px;
}

#consumable-name {
    text-align: center;
    font-size: 32px;
    line-height: 24px;
    color: aliceblue;
    margin: 4px;
}

#consumable-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    background-color: aliceblue;
    border-radius: 8px;
    margin: 0 4px;
    width: fit-content;
}

#consumable-info > div {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 2px;
}

#consumable-info > div > div {
    width: max-content;
    margin: 0 2px;
}

.small { font-size: 16px; }

#last-used-tag {
    background-color: var(--green);
    border-radius: 8px;
    padding: 0 8px;
    color: aliceblue;
}

#consumable-info > div > div.nospace { margin: 0 0 0 -2px; }

#consumable-type {
    display: flex;
    font-size: 24px;
    text-align: center;
    border-radius: 8px;
    margin: 4px;
    color: aliceblue;
    width: fit-content;
    padding: 0 16px;
}

#consumable-type.Planet {
    background-color: var(--aqua);
}

#consumable-type.Spectral {
    background-color: var(--blue);
}

#consumable-type.Tarot {
    background-color: var(--purple);
}