#info {
    display: flex;
    flex: initial;
    flex-direction: row;
    margin: 4px 0 32px 0;
}

#buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 4px 0;
}

#run-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #eb5a4a;
    font-size: 24px;
    line-height: 12px;
    border-radius: 8px;
    margin: 4px;
}

#options {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #f19d38;
    font-weight: bold;
    border-radius: 8px;
    font-size: 24px;
    line-height: 16px;
    margin: 4px;
}

.box {
    display: flex;
    flex-direction: column;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
    background-color: var(--dark-grey);
    border-radius: 8px;
    margin: 4px;
}

.box div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grey);
    border-radius: 8px;
    margin: 0px 8px 4px;
    padding: 0;
    font-size: 48px;
    line-height: 36px;
    font-weight: bold;
}

#stats {
    display: flex;
    flex-direction: column;
    flex: 2.25;
}

#hands-discards {
    display: flex;
    flex-direction: row;
}

#hands-box {
    flex: 1;
}

#hands {
    color: #4090f5;
}

#discards-box {
    flex: 1;
}

#discards {
    color: #eb5a4a;
}

#money-box {
    text-align: center;
    background-color: #1d2629;
    border-radius: 8px;
    margin: 4px;
}

#money {
    font-size: 56px;
    line-height: 56px;
    font-weight: bold;
    color: var(--yellow);
    background-color: #313a3d;
    border-radius: 8px;
    margin: 4px 8px;
}

#run-stats {
    display: flex;
    flex-direction: row;
}

#ante-box {
    flex: 1;
}

#ante-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 24px;
}

#ante {
    color: var(--dark-orange);
    margin: 0px;
}

#round-box {
    flex: 1;
}

#round {
    color: var(--dark-orange);
}