div[id^='joker_'] {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: auto;

    --joker-width: 138px;
    --joker-height: 186px;
}

div[id^='joker_'].shopping {
    position: relative;
    align-items: center;
}

div[id^='joker_']:hover {
    cursor: pointer;
    scale: 1.1;
}

div[id^='joker_']:active { z-index: 1; }

div[id^='joker_'].selected {
    transform: translateY(-10px);
    z-index: 2;
}

div[id^='joker_'] img {
    width: var(--joker-width);
    height: var(--joker-height);
}

#joker-description-outline {
    display: none;
    position: absolute;
    top: var(--joker-height);
    border: 4px solid var(--light-grey);
    border-radius: 8px;
    font-size: 20px;
    color: var(--grey);
}

div[id^='joker_'].shopping #joker-description-outline {
    top: 25%;
    right: var(--joker-width);
}

div[id^='joker_']:hover #joker-description-outline { display: initial; }

#joker-description {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    border-radius: 4px;
}

#joker-name {
    text-align: center;
    font-size: 32px;
    line-height: 24px;
    color: aliceblue;
    margin: 4px;
}

#joker-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    background-color: aliceblue;
    border-radius: 8px;
    margin: 0 4px;
    min-width: 100px;
}

#joker-info > div {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 2px;
}

#joker-info > div > div {
    width: max-content;
    margin: 0 2px;
}

#joker-tags {
    text-align: center;
    margin: 4px;
}

#joker-rarity {
    font-size: 24px;
    text-align: center;
    border-radius: 8px;
    margin: 2px 0;
    padding: 0 4px;
    color: aliceblue;
}

#joker-rarity.Common { background-color: var(--blue); }
#joker-rarity.Uncommon { background-color: var(--green); }
#joker-rarity.Rare { background-color: var(--red); }

#joker-price-tab {
    position: absolute;
    background-color: var(--dark-grey);
    top: -40px;
    border-radius: 8px 8px 0 0;
}

#joker-price {
    background-color: var(--grey);
    border-radius: 8px;
    margin: 4px;
    padding: 0 16px;
    font-size: 32px;
}

#joker-buy-button {
    position: absolute;
    background-color: var(--orange);
    top: var(--joker-height);
    border-radius: 0 0 8px 8px;
    color: aliceblue;
    font-size: 32px;
    padding: 4px 16px 4px 18px;
}

#joker-buy-button:hover {
    filter: brightness(.75);
    cursor: pointer;
}

#sell-joker {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -56px;
    width: 48px;
    text-align: right;
    margin: 4px 0;
    padding: 4px;
    border-radius: 0 8px 8px 0;
    background-color: var(--green);
    font-size: 24px;
}

#sell-joker:hover {
    filter: brightness(.75);
    cursor: pointer;
}

#joker-sell-price {
    font-size: 36px;
}