#main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 666px;
}

#main-menu-ace {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -98%);
    width: 142px;
    height: 190px;
}

#ace-bkg {
    position: absolute;
    width: 142px;
    height: 190px;
}

#ace {
    position: absolute;
    width: 142px;
    height: 190px;
}

#main-menu-buttons {
    display: flex;
    width: fit-content;
    justify-content: center;
    background-color: var(--grey);
    border-radius: 8px;
}

#play {
    font-size: 64px;
    background-color: var(--blue);
    border-radius: 8px;
    margin: 8px 32px;
    padding: 16px 64px;
}