#run-info {
    position: absolute;
    z-index: 5;
    left: 350px;
    right: 370px;
    top: 100px;
    bottom: 80px;
    width: 784px;
    background-color: var(--grey);
    border: 4px solid var(--light-grey);
    border-radius: 8px;
}

#run-info-views {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 24px;
}

#run-info-views:hover {
    cursor: pointer;
    filter: brightness(.75);
}

.run-info-view {
    position: relative;
    margin: 8px;
    background-color: var(--red);
    font-size: 32px;
    line-height: 32px;
    padding: 8px 24px;
    border-radius: 8px;
    text-align: center;
    width: 140px;
    padding: 8px;
}

#run-info-arrow {
    transition: .1s;
}

#run-info-area {
    height: 500px;
    overflow: hidden;
}

#hand-levels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#hand-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #a4abba;
    border-radius: 8px;
    margin: 2px 64px;
}

#level-outline {
    display: flex;
    background-color: white;
    border-radius: 8px;
    margin: 2px 0;
}

#level-display {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eef0f2;
    border-radius: 8px;
    margin: 2px;
    color: var(--dark-grey);
    font-size: 32px;
    line-height: 20px;
    width: 80px;
}

#hand-name.base {
    font-size: 32px;
    line-height: 24px;
    margin: 0;
}

#base-calc {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--dark-grey);
    border-radius: 8px;
    margin: 2px 0;
}

#chips.base,
#mult.base {
    font-size: 28px;
    line-height: 16px;
    margin: 3px;
    padding: 4px 6px;
    width: 50px;
}

#X.base {
    margin: 0 0 0 3px;
    font-size: 24px;
    line-height: 16px;
}

#hand-freq {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    line-height: 16px;
    margin-left: 24px;
}

#hand-freq div[id^='freq-display-'] {
    background-color: var(--grey);
    border-radius: 8px;
    color: var(--orange);
    width: 15px;
    text-align: center;
    padding: 4px 16px 4px 19px;
    margin: 4px;
}

#hand-freq div[id^='freq-display-'].double {
    padding: 4px 16px;  
}

#blind-view {
    display: flex;
    justify-content: center;
}

#run-info-back {
    margin: 8px auto;
    font-size: 32px;
    line-height: 32px;
    width: 98%;
    text-align: center;
    background-color: var(--orange);
    border-radius: 8px;
}

#run-info-back:hover {
    cursor: pointer;
    filter: brightness(.75);
}