body {
    margin: 0;
    user-select: none;
    overflow: hidden;
    z-index: auto;
}

.red { color: var(--red) }
.blue { color: var(--blue) }
.yellow { color: var(--yellow) }

.container {
    display: flex;
    flex-direction: row;
    margin: 0 50px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    flex: initial;
    width: 328px;
    height: 100vh;
    padding: 4px;
    margin: 0 12px;
    background-color: var(--grey);
    border-left: 2px solid var(--small-blind-primary);
    border-right: 2px solid var(--small-blind-primary);
}

#top-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 48px 0 0 0;
    height: 229px;
    font-size: 48px;
    line-height: 48px;;
}

#main {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 24px 12px;
}

#top {
    display: flex;
    flex-direction: row;    
}

#lower {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex: 3.5
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 790px;
    height: 588px;
}

#blinds-container {
    display: flex;
    flex-direction: row;
    width: 790px;
    height: 588px;
}

#mid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 2.5;
    width: 790px;
}

#bot {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex: 1;
}

#post-outer {
    display: flex;
    background-color: var(--dark-grey);
    border-radius: 8px;
    margin: 32px;
}

#post-container {
    display: flex;
    width: 100%;
    height: 85vh;
    background-color: var(--grey);
    border-radius: 8px;
    margin: 2px;
}

#post-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min-content;
    background-color: var(--dark-grey);
    border-radius: 8px;
    margin: 4px;
}

#cash-out {
    background-color: var(--orange);
    border-radius: 8px;
    padding: 0 64px;
    font-size: 80px;
    line-height: 80px;
    margin: 16px 0;
}

#post-dots {
    font-size: 32px;
    line-height: 32px;
}

.extra-reward {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 56px;
    line-height: 56px;
    width: 95%;
}

.num-extra {
    padding: 0 0 0 3px;
}

#remaining-hands {
    color: var(--blue)
}

#interest {
    color: var(--yellow)
}

.extra-reward-text {
    color: white;
    font-size: 24px;
    margin: 0 16px;
}

.reward {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    color: var(--yellow);
    font-size: 48px;
}

.card-area {
    height: 175px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.counter {
    font-size: 20px;
    line-height: 20px;
}

#jokers {
    width: 645px;
    margin: 0 6px 0 0;
}

#joker-area {
    height: 175px;
}

#joker-label {
    margin: 0 0 0 8px;
}

#consumables {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 305px;
    margin: 0 0 0 6px;
}

#consumables-area {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    height: 175px;
}

#consumables-label {
    margin: 0 8px 0 0;
}